body {
    font-family: Arial, sans-serif;
    background-color: #fff6f6;
    margin: 0;
    padding: 20px;
}

h1 {
    text-align: center;
    color: #2f4144;
    text-shadow: 0 0 10px #2f4144, 0 0 20px #2f4144, 0 0 40px #00e0ff;
    text-decoration: underline;
}

.exercise-category {
    background-color: #46505f;
    border-radius: 10px;
    text-decoration: underline;
    text-shadow: 0 0 10px #46505f, 0 0 20px #46505f, 0 0 40px #46505f;
    padding: 20px;
    margin: 20px auto;
    /* max-width: 600px; */
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);
}

.exercise-category h2 {
    color: #000000;
    text-shadow: 0 0 10px #ffffff, 0 0 20px #ffffff, 0 0 40px #ffffff;

}

.back-box {
    width: 100%;
    height: 400px;
    margin: 40px auto;
    padding: 40px 60px;
    background: rgba(230, 221, 223, 0.662);
    border-radius: 20px;
    box-shadow: 0 3px 10px rgba(7, 7, 7, 0.959);
    transition: transform 0.3s, background 0.3s;
    
    display: flex;
    justify-content: space-between;
    align-items:right;

}
.back-box:hover {
    transform: scale(1.02);
    background: rgba(230, 221, 223, 0.856);
}
.exercise-list{
    font-weight: 100px;
}
.back-img {
    width: 250px;      /* 👈 increase this value to make images bigger */
    height: auto;
    border-radius: 12px;
    /* margin-right: 100px; */
    margin-top: 50px;
    box-shadow: #000000 0px 4px 8px, #000000 0px 6px 20px   ;
    
}
