<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Abs Exercises</title>
    <link rel="stylesheet" href="../static/css/abs_style.css">
</head>
<body>
    <h1>Abs Exercises</h1>
    <div class="exercise-category">

    <h2>💪Bodyweight Exercises</h2>
    <div class="abs-box">
    

        <li>Crunches</li>
        <img src ="../static/images/Crunches.gif" alt="Crunches" class="abs-img">
        <li>Leg Raises</li>
        <img src ="../static/images/Leg Raises.gif" alt="Leg Raises" class="abs-img">   
        <li>Plank</li>  
        <img src ="../static/images/Plank.gif" alt="Plank" class="abs-img"> 
    </div>
    </div>
    <div class="exercise-category">

    

    <h2>🏋️‍♂️Dumbbell / Weighted Exercises</h2>
    <div class="abs-box">

    
        <li>Weighted Crunch</li>
        <img src ="../static/images/Weighted Crunch.gif" alt="Weighted Crunch" class="abs-img"> 
        <li>Russian Twist (with Dumbbell)</li>
        <img src ="../static/images/Russian Twist (with Dumbbell).webp" alt="Russian Twist" class="abs-img"> 
        <li>Dumbbell Side Bend</li>
        <img src ="../static/images/Dumbbell Side Bend.gif" alt="Dumbbell Side Bend" class="abs-img">   
    </div>
    </div>
    <div class="exercise-category">

    <h2>⚙️Machine / Cable Exercises</h2>
    <div class="abs-box">
    
        <li>Cable Crunch</li>
        <img src ="../static/images/Cable Crunch.gif" alt="Cable Crunch" class="abs-img">   
        <li>Cable Woodchopper</li>
        <img src ="../static/images/Cable Woodchopper.webp" alt="Cable Woodchopper" class="abs-img">   
        <li>Ab Crunch Machine</li>
        <img src ="../static/images/Ab Crunch Machine.gif" alt="Ab Crunch Machine" class="abs-img">   
    </div>
    </div>
</body>
</html>
