{% extends "base.html" %}

{% block title %}Abs Exercises - Arambh Fitness{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/abs_style.css') }}">
{% endblock %}

{% block content %}

<h1>Abs Exercises</h1>

<div class="exercise-category">

<h2>💪 Bodyweight Exercises</h2>

<div class="abs-box">

<div class="exercise-card">
<p>Crunches</p>
<img src="{{ url_for('static', filename='images/Crunches.gif') }}" class="abs-img">
</div>

<div class="exercise-card">
<p>Leg Raises</p>
<img src="{{ url_for('static', filename='images/Leg Raises.gif') }}" class="abs-img">
</div>

<div class="exercise-card">
<p>Plank</p>
<img src="{{ url_for('static', filename='images/Plank.gif') }}" class="abs-img">
</div>

</div>
</div>


<div class="exercise-category">

<h2>🏋️‍♂️ Dumbbell / Weighted Exercises</h2>

<div class="abs-box">

<div class="exercise-card">
<p>Weighted Crunch</p>
<img src="{{ url_for('static', filename='images/Weighted Crunch.gif') }}" class="abs-img">
</div>

<div class="exercise-card">
<p>Russian Twist</p>
<img src="{{ url_for('static', filename='images/Russian Twist (with Dumbbell).webp') }}" class="abs-img">
</div>

<div class="exercise-card">
<p>Dumbbell Side Bend</p>
<img src="{{ url_for('static', filename='images/Dumbbell Side Bend.gif') }}" class="abs-img">
</div>

</div>
</div>


<div class="exercise-category">

<h2>⚙️ Machine / Cable Exercises</h2>

<div class="abs-box">

<div class="exercise-card">
<p>Cable Crunch</p>
<img src="{{ url_for('static', filename='images/Cable Crunch.gif') }}" class="abs-img">
</div>

<div class="exercise-card">
<p>Cable Woodchopper</p>
<img src="{{ url_for('static', filename='images/Cable Woodchopper.webp') }}" class="abs-img">
</div>

<div class="exercise-card">
<p>Ab Crunch Machine</p>
<img src="{{ url_for('static', filename='images/Ab Crunch Machine.gif') }}" class="abs-img">
</div>

</div>
</div>

{% endblock %}