<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Back Exercises</title>
    <link rel="stylesheet" href="../static/css/back_style.css">
</head>
<body>
    <h1>Back Exercises</h1>
    <div class="exercise-category">

    <h2>Barbell Exercises</h2>
    <div class="back-box">
    
        <li>Barbell Deadlift</li>
        <img src ="../static/images/Barbell Deadlift.gif" alt="Barbell Deadlift" class="back-img">
        <li>Bent-Over Barbell Row</li>
        <img src ="../static/images/Bent-Over Barbell Row.gif" alt="Bent-Over Barbell Row" class="back-img">    
        <li>T-Bar Row</li>
        <img src ="../static/images/T-Bar Row.gif" alt="T-Bar Row" class="back-img">    
    </div>
    </div>

    <div class="exercise-category">
    <h2>Dumbbell Exercises</h2>
    <div class="back-box">

        <li>Dumbbell One-Arm Row</li>
        <img src ="../static/images/Dumbbell One-Arm Row.gif" alt="Dumbbell One-Arm Row" class="back-img">
        <li>Dumbbell Reverse Fly</li>
        <img src ="../static/images/Dumbbell Reverse Fly.gif" alt="Dumbbell Reverse Fly" class="back-img">
        <li>Dumbbell Shrugs</li>
        <img src ="../static/images/Dumbbell Shrugs.gif" alt="Dumbbell Shrugs" class="back-img">    
    </div>
    </div>

    <div class="exercise-category">
    <h2>Machine Exercises</h2>
    <div class="back-box">

        <li>Lat Pulldown</li>
        <img src ="../static/images/Lat Pulldown.gif" alt="Lat Pulldown" class="back-img">
        <li>Seated Cable Row</li>
        <img src ="../static/images/Seated Cable Row.gif" alt="Seated Cable Row" class="back-img">  
        <li>Machine Assisted Pull-Up</li>
        <img src ="../static/images/Machine Assisted Pull-Up.gif" alt="Machine Assisted Pull-Up" class="back-img">  
    </div>
    </div>
</body>
</html>
