<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Biceps Exercises</title>
    <link rel="stylesheet" href="../static/css/bicep_style.css">    
</head>
<body>
    <h1>Biceps Exercises</h1>
    <div class="exercise-category">

    <h2>🏋️‍♂️Barbell Exercises</h2>
    <div class="bicep-box"
    
        <li>Barbell Curl</li>
        <img src ="../static/images/Barbell Curl.gif" alt="Barbell Curl" class="bicep-img">
        <li>EZ-Bar Curl</li>
        <img src ="../static/images/EZ-Bar Curl.gif" alt="EZ-Bar Curl" class="bicep-img">   
        <li>Drag Curl</li>
        <img src ="../static/images/Drag Curl.gif" alt="Drag Curl" class="bicep-img">
        </div>  
    </div>
    <div class="exercise-category">
    <h2>💪 Dumbbell Exercises</h2>
    <div class="bicep-box">
        <li>Dumbbell Bicep Curl</li>
        <img src ="../static/images/Dumbbell Bicep Curl.gif" alt="Dumbbell Bicep Curl" class="bicep-img">
        <li>Incline Dumbbell Curl</li>
        <img src ="../static/images/Incline Dumbbell Curl.gif" alt="Incline Dumbbell Curl" class="bicep-img">
        <li>Hammer Curl</li>
        <img src ="../static/images/Hammer Curl.gif" alt="Hammer Curl" class="bicep-img">
    </div>
    </div>
    <div class="exercise-category">
    <h2>⚙️Machine / Cable Exercises</h2>
    <div class="bicep-box">
        <li>Cable Curl</li>
        <img src ="../static/images/Cable Curl.gif" alt="Cable Curl" class="bicep-img"> 
        <li>Preacher Curl (Machine)</li>
        <img src ="../static/images/Preacher Curl (Machine).gif" alt="Preacher Curl Machine" class="bicep-img">
        <li>Rope Cable Hammer Curl</li>
        <img src ="../static/images/Rope Cable Hammer Curl.gif" alt="Rope Cable Hammer Curl" class="bicep-img"> 
    </div>
    </div>
</body>
</html>
