<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../static/css/calisthenic_style.css">
</head>
<body>

    <div class="workout-box gym-box">
        <div class="text-content">
    <a href="/workouts/calisthenic/upperbody" style="text-decoration: none; color: inherit;">
            <h1>UPPER BODY</h1>
    
        </div>
        <img src ="../static/images/upper body.jpg" alt="upper body" class="Calisthenics-img"> 
    
        
    </div>
    </a>

<div class="workout-box calisthenics-box">
    <div class="text-content">
        <a href="/workouts/calisthenic/corepart" style="text-decoration: none; color: inherit;"> 
        <h1>CORE-PART</h1>
    </div>
    <img src="../static/images/core part.jpg" alt="core part" class="Calisthenics-img">
    
</div>
</a>

<div class="workout-box home-workout-box">
    <div class="text-content">
    <a href="/workouts/calisthenic/lowerbody" style="text-decoration: none; color: inherit;"> 
        <h1>LOWER BODY</h1>
    </div>
    <img src="../static/images/lower body.png" alt="lower body" class="Calisthenics-part-img">
</div>
</a>

<div class="workout-box calisthenics-box">
    <div class="text-content">
        <a href="/workouts/calisthenic/fullbody" style="text-decoration: none; color: inherit;"> 
        <h1>FULL-BODY</h1>
    </div>
    <img src="../static/images/full dody.jpg" alt="full body" class="Calisthenics-part-img">
</div>
</a>

</body>
</html>