


<link rel="stylesheet" href="../static/css/workouts_style.css">

<a href="/workouts/gym" style="text-decoration: none; color: inherit;">
    <div class="workout-box gym-box">
        <div class="text-content">
            <h1>UPPER BODY</h1>
        </div>
        
    </div>
</a>

<div class="workout-box calisthenics-box">
    <div class="text-content">
        <h1>CORE-PART</h1>
    </div>
    
</div>

<div class="workout-box home-workout-box">
    <div class="text-content">
        <h1>LOWER BODY</h1>
    </div>
</div>

<div class="workout-box calisthenics-box">
    <div class="text-content">
        <h1>FULL-BODY</h1>
    </div>
    
</div>
   
</div
        </div>
    
    </div>

</body>
</html>
