{% extends "base.html" %}

{% block title %}Chest Exercises - Arambh Fitness{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/chest_style.css') }}">
{% endblock %}

{% block content %}
<div class="container mt-4">
<h1>Chest Exercises</h1>

<div class="exercise-category">
<h2>🏋️‍♂️ Barbell Exercises</h2>

<div class="chest-box">

<div class="exercise-item">
<p>Flat Bench Press</p>
<img src="{{ url_for('static', filename='images/flatBenchPress.gif') }}" class="chest-img">
</div>

<div class="exercise-item">
<p>Incline Bench Press</p>
<img src="{{ url_for('static', filename='images/Incline Bench Press.gif') }}" class="chest-img">
</div>

<div class="exercise-item">
<p>Decline Bench Press</p>
<img src="{{ url_for('static', filename='images/Decline Bench Press.gif') }}" class="chest-img">
</div>

</div>
</div>


<div class="exercise-category">
<h2>💪 Dumbbell Exercises</h2>

<div class="chest-box">

<div class="exercise-item">
<p>Flat Dumbbell Press</p>
<img src="{{ url_for('static', filename='images/Flat Dumbbell Press.gif') }}" class="chest-img">
</div>

<div class="exercise-item">
<p>Incline Dumbbell Press</p>
<img src="{{ url_for('static', filename='images/Incline Dumbbell Press.gif') }}" class="chest-img">
</div>

<div class="exercise-item">
<p>Dumbbell Flyes</p>
<img src="{{ url_for('static', filename='images/Dumbbell Flyes.gif') }}" class="chest-img">
</div>

</div>
</div>


<div class="exercise-category">
<h2>⚙️ Machine & Cable Exercises</h2>

<div class="chest-box">

<div class="exercise-item">
<p>Chest Press Machine</p>
<img src="{{ url_for('static', filename='images/Chest Press Machine.gif') }}" class="chest-img">
</div>

<div class="exercise-item">
<p>Pec Deck Machine</p>
<img src="{{ url_for('static', filename='images/Chest Fly Machine.gif') }}" class="chest-img">
</div>

<div class="exercise-item">
<p>Cable Crossover</p>
<img src="{{ url_for('static', filename='images/Cable Crossover.gif') }}" class="chest-img">
</div>

</div>
</div>

<footer>
<p>© 2025 Gym Workout Guide | Chest Day Routine</p>
</footer>

</div>
{% endblock %}