<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Core Calisthenics Exercises</title>
    <link rel="stylesheet" href="../static/css/corepart_style.css"> 
</head>
<body>
  <h1>Core Calisthenics Exercises</h1>

  <div class="exercise-category">
    <div class="core-box">
  <h2><li>Plank</li></h2>
  <img src ="../static/images/Plank.gif" alt="Plank" class="core-box-img">
  <h2><li> Hanging Leg Raise</li></h2>
  <img src ="../static/images/Hanging Leg Raise.gif" alt="Hanging Leg Raise" class="core-box-img"> 
  </div>
  </div>

 <div class="exercise-category">  
   <div class="core-box">
  <h2><li>L-Sit</li></h2>
  <img src ="../static/images/L-Sit.gif" alt="L-Sit" class="core-box-img">
  <h2><li>Dragon Flag</li></h2>
  <img src ="../static/images/Dragon Flag.gif" alt="Dragon Flag" class="core-box-img">
  </div>
</div>  


    <div class="exercise-category">
      <div class="core-box">
    <h2><li> Toes to Bar</li></h2>
    <img src ="../static/images/Toes to Bar.gif" alt="Toes to Bar" class="core-box-img">
    <h2><li>Tuck Planche Hold (advanced)</li></h2>
    <img src ="../static/images/Tuck Planche Hold.gif" alt="Tuck Planche Hold (advanced)" class="core-box-img">
    </div>
    </div>
 
</body>
</html>
