{% extends "base.html" %}

{% block title %}Chest Exercises - Arambh Fitness{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/corepart_style.css') }}">
{% endblock %}

{% block content %}
  <h1>Core Calisthenics Exercises</h1>

  <div class="exercise-category">
    <div class="core-box">
  <h2><li>Plank</li></h2>
  <img src ="{{ url_for('static', filename='images/Plank.gif') }}" alt="Plank" class="core-box-img">
  <h2><li> Hanging Leg Raise</li></h2>
  <img src ="{{ url_for('static', filename='images/Hanging Leg Raise.gif') }}" alt="Hanging Leg Raise" class="core-box-img"> 
  </div>
  </div>

 <div class="exercise-category">  
   <div class="core-box">
  <h2><li>L-Sit</li></h2>
  <img src ="{{ url_for('static', filename='images/L-Sit.gif') }}" alt="L-Sit" class="core-box-img">
  <h2><li>Dragon Flag</li></h2>
  <img src ="{{ url_for('static', filename='images/Dragon Flag.gif') }}" alt="Dragon Flag" class="core-box-img">
  </div>
</div>  


    <div class="exercise-category">
      <div class="core-box">
    <h2><li> Toes to Bar</li></h2>
    <img src ="{{ url_for('static', filename='images/Toes to Bar.gif') }}" alt="Toes to Bar" class="core-box-img">
    <h2><li>Tuck Planche Hold (advanced)</li></h2>
    <img src ="{{ url_for('static', filename='images/Tuck Planche Hold.gif') }}" alt="Tuck Planche Hold (advanced)" class="core-box-img">
    </div>
    </div>
 
{% endblock %}
