{% extends "base.html" %}

{% block title %}Forearm Exercises - Arambh Fitness{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/forearm_style.css') }}">
{% endblock %}

{% block content %}

<h1>Forearm Exercises</h1>

<div class="exercise-category">

<h2>🏋️‍♂️ Barbell Exercises</h2>

<div class="forearm-box">

<div class="exercise-card">
<p>Barbell Wrist Curl (Palms Up)</p>
<img src="{{ url_for('static', filename='images/Barbell Wrist Curl (Palms Up).gif') }}" class="forearm-img">
</div>

<div class="exercise-card">
<p>Reverse Barbell Wrist Curl (Palms Down)</p>
<img src="{{ url_for('static', filename='images/Reverse Barbell Wrist Curl.gif') }}" class="forearm-img">
</div>

<div class="exercise-card">
<p>Barbell Reverse Grip Curl</p>
<img src="{{ url_for('static', filename='images/Barbell Reverse Grip Curl.gif') }}" class="forearm-img">
</div>

</div>
</div>


<div class="exercise-category">

<h2>💪 Dumbbell Exercises</h2>

<div class="forearm-box">

<div class="exercise-card">
<p>Dumbbell Wrist Curl</p>
<img src="{{ url_for('static', filename='images/Dumbbell Wrist Curl.gif') }}" class="forearm-img">
</div>

<div class="exercise-card">
<p>Dumbbell Reverse Curl</p>
<img src="{{ url_for('static', filename='images/Dumbbell Reverse Curl.gif') }}" class="forearm-img">
</div>

<div class="exercise-card">
<p>Dumbbell Hammer Curl</p>
<img src="{{ url_for('static', filename='images/Dumbbell Hammer Curl.gif') }}" class="forearm-img">
</div>

</div>
</div>


<div class="exercise-category">

<h2>Bodyweight / Other Exercises</h2>

<div class="forearm-box">

<div class="exercise-card">
<p>Plate Pinch</p>
<img src="{{ url_for('static', filename='images/Plate Pinch.gif') }}" class="forearm-img">
</div>

<div class="exercise-card">
<p>Wrist Roller</p>
<img src="{{ url_for('static', filename='images/Wrist Roller.gif') }}" class="forearm-img">
</div>

<div class="exercise-card">
<p>Fingertip Push-Ups</p>
<img src="{{ url_for('static', filename='images/Fingertip Push-Ups.gif') }}" class="forearm-img">
</div>

</div>
</div>

{% endblock %}