<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Forearm Exercises</title>
    <link rel="stylesheet" href="../static/css/forearm_style.css">      
</head>
<body>
    <h1>Forearm Exercises</h1>
    <div

    <h2>Barbell Exercises</h2>
    <div class="forearm-box">
        <li>Barbell Wrist Curl (Palms Up)</li>
        <img src ="../static/images/Barbell Wrist Curl (Palms Up).gif" alt="Barbell Wrist Curl" class="forearm-img">        
        <li>Reverse Barbell Wrist Curl (Palms Down)</li>
        <img src ="../static/images/Reverse Barbell Wrist Curl.gif" alt="Reverse Barbell Wrist Curl" class="forearm-img">        
        <li>Barbell Reverse Grip Curl</li>
        <img src ="../static/images/Barbell Reverse Grip Curl.gif" alt="Barbell Reverse Grip Curl" class="forearm-img"> 
    </div>  
    </div>
    <div class="exercise-category">

    <h2>Dumbbell Exercises</h2>
    <div class="forearm-box">
        <li>Dumbbell Wrist Curl</li>
        <img src ="../static/images/Dumbbell Wrist Curl.gif" alt="Dumbbell Wrist Curl" class="forearm-img">        
        <li>Dumbbell Reverse Curl</li>
        <img src ="../static/images/Dumbbell Reverse Curl.gif" alt="Dumbbell Reverse Curl" class="forearm-img">         
        <li>Dumbbell Hammer Curl</li>   
        <img src ="../static/images/Dumbbell Hammer Curl.gif" alt="Dumbbell Hammer Curl" class="forearm-img">          
    </div>
    </div>
    <div class="exercise-category">
    

    <h2>Bodyweight / Other Exercises</h2>
    <div class="forearm-box"> 
        <li>Plate Pinch</li>
        <img src ="../static/images/Plate Pinch.gif" alt="Plate Pinch" class="forearm-img">        
        <li>Wrist Roller</li>
        <img src ="../static/images/Wrist Roller.gif" alt="Wrist Roller" class="forearm-img">           
        <li>Fingertip Push-Ups</li>
        <img src ="../static/images/Fingertip Push-Ups.gif" alt="Fingertip Push-Ups" class="forearm-img">           
    </div>
    </div>
</body>
</html>
