{% extends "base.html" %}

{% block title %}Bicep Exercises - Arambh Fitness{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/fullbody_style.css') }}"> 
{% endblock %}

{% block content %}
  <h1>Advanced Full-Body Calisthenics Exercises</h1>

  <div class="exercise-category">
  <div class="Full-Body-box">

  <p style="font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif"> Muscle-Ups</p>
  <img src ="{{ url_for('static', filename='images/Muscle-Ups.gif') }}" alt="Muscle-Ups" class="Full-Body-box-img">
  <p> Handstand Push-Ups</p>  
    <img src ="{{ url_for('static', filename='images/Handstand Push-Ups.gif') }}" alt="Handstand Push-Ups" class="Full-Body-box-img">
  </div>
    </div>
    <div class="exercise-category">
      <div class="Full-Body-box">   
  <p> Front Lever</p>
  <img src ="{{ url_for('static', filename='images/Front Lever.gif') }}" alt="Front Lever" class="Full-Body-box-img">
  <p> Back Lever</p>    
    <img src ="{{ url_for('static', filename='images/Back Lever.gif') }}" alt="Back Lever" class="Full-Body-box-img">
        </div>
        </div>
        <div class="exercise-category">
        <div class="Full-Body-box">
  <p> Planche / Planche Push-Ups</p>
    <img src ="{{ url_for('static', filename='images/Planche Push-Ups.gif') }}" alt="Planche / Planche Push-Ups" class="Full-Body-box-img">

  <p> Human Flag</p>
    <img src ="{{ url_for('static', filename='images/Human Flag.gif') }}" alt="Human Flag" class="Full-Body-box-img">
        </div>
        </div>
        <div class="exercise-category">
        <div class="Full-Body-box">
  <p> One-Arm Pull-Ups</p>
  <img src ="{{ url_for('static', filename='images/One-Arm Pull-Ups.gif') }}" alt="One-Arm Pull-Ups" class="Full-Body-box-img">
  <p> Archer Pull-Ups / Archer Push-Ups</p>
    <img src ="{{ url_for('static', filename='images/Archer Pull-Ups.gif') }}" alt="Archer Pull-Ups / Archer Push-Ups" class="Full-Body-box-img">
        </div>
        </div>
        <div class="exercise-category">
        <div class="Full-Body-box"> 
  <p> Ring Dips (Weighted)</p>
    <img src ="{{ url_for('static', filename='images/Ring Dips.gif') }}" alt="Ring Dips (Weighted)" class="Full-Body-box-img">
  <p> Handstand to Planche Transition</p> 
    <img src ="{{ url_for('static', filename='images/Handstand to Planche Transitio.gif') }}" alt="Handstand to Planche Transition" class="Full-Body-box-img">
        </div>
        </div>
{% endblock %}
