<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Advanced Full-Body Calisthenics</title>
    <link rel="stylesheet" href="../static/css/fullbody_style.css">
</head>
<body>
  <h1>Advanced Full-Body Calisthenics Exercises</h1>

  <div class="exercise-category">
  <div class="Full-Body-box">

  <h2>1. Muscle-Ups</h2>
  <img src ="../static/images/Muscle-Ups.gif" alt="Muscle-Ups" class="Full-Body-box-img">
  <h2>2. Handstand Push-Ups</h2>
    <img src ="../static/images/Handstand Push-Ups.gif" alt="Handstand Push-Ups" class="Full-Body-box-img">
  </div>
    </div>
    <div class="exercise-category">
      <div class="Full-Body-box">   
  <h2>3. Front Lever</h2>
  <img src ="../static/images/Front Lever.gif" alt="Front Lever" class="Full-Body-box-img">
  <h2>4. Back Lever</h2>    
    <img src ="../static/images/Back Lever.gif" alt="Back Lever" class="Full-Body-box-img">
        </div>
        </div>
        <div class="exercise-category">
        <div class="Full-Body-box">
  <h2>5. Planche / Planche Push-Ups</h2>
    <img src ="../static/images/Planche Push-Ups.gif" alt="Planche / Planche Push-Ups" class="Full-Body-box-img">

  <h2>6. Human Flag</h2>
    <img src ="../static/images/Human Flag.gif" alt="Human Flag" class="Full-Body-box-img">
        </div>
        </div>
        <div class="exercise-category">
        <div class="Full-Body-box">
  <h2>7. One-Arm Pull-Ups</h2>
  <img src ="../static/images/One-Arm Pull-Ups.gif" alt="One-Arm Pull-Ups" class="Full-Body-box-img">
  <h2>8. Archer Pull-Ups / Archer Push-Ups</h2>
    <img src ="../static/images/Archer Pull-Ups.gif" alt="Archer Pull-Ups / Archer Push-Ups" class="Full-Body-box-img">
        </div>
        </div>
        <div class="exercise-category">
        <div class="Full-Body-box"> 
  <h2>9. Ring Dips (Weighted)</h2>
    <img src ="../static/images/Ring Dips.gif" alt="Ring Dips (Weighted)" class="Full-Body-box-img">
  <h2>10. Handstand to Planche Transition</h2> 
    <img src ="../static/images/Handstand to Planche Transitio.gif" alt="Handstand to Planche Transition" class="Full-Body-box-img">
        </div>
        </div>
</body>
</html>
