<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../static/css/home workout_style.css">
</head>
<body>
    <h1>💪Top Home-Workout Exercises</h1>
    <div class="exercise-category">
          <h2>Upper Body</h2>
      <div class="Home-Workout-box"> 
        <li>Push-Ups</li>
        <img src="../static/images/Push-Ups.gif" alt="Push-Ups" class="Home-Workout-box-img">
        <li>Pull-Ups</li>
        <img src="../static/images/Pull-Ups.gif" alt="Pull-Ups" class="Home-Workout-box-img">
        <li>Shoulder Press</li>
        <img src="../static/images/Dumbbell Shoulder Press.gif"  alt="Dumbbell Shoulder Press" class="Home-Workout-box-img">
    </div>
    </div>
    <div class="exercise-category">
         <h2>Lower Body</h2>
      <div class="Home-Workout-box">   
        <li>Squats</li>
        <img src="../static/images/Squats.gif" alt="Squat" class="Home-Workout-box-img">
        <li>Lunges</li> 
        <img src="../static/images/Lunges.gif" alt="Lunges" class="Home-Workout-box-img">   
        <li>Calf Raises</li>
        <img src="../static/images/Calf Raises.gif" alt="Calf Raises" class="Home-Workout-box-img"> 
    </div>
    </div>
    
        <div class="exercise-category">
            <h2>Full Body</h2>
      <div class="Home-Workout-box"> 

    
        <li>Burpees</li>
        <img src="../static/images/Burpees.gif" alt="Burpees" class="Home-Workout-box-img">
        <li>Shadow Boxing</li>
        <img src="../static/images/Shadow Boxing.gif" alt="Shadow Boxing" class="Home-Workout-box-img">
        <li>Jumping Jacks</li>
        <img src="../static/images/Jumping Jacks.gif" alt="Jumping Jacks" class="Home-Workout-box-img">
    </div>
    </div>
    
</body>
</html>
