<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Shoulder Exercises</title>
    <link rel="stylesheet" href="../static/css/shoulder_style.css"> 
</head>
<body>
    <h1>Shoulder Exercises</h1>

    <section>
        <div class="exercise-category">
        <h2>🏋️‍♂️ Barbell Exercises</h2>
        <div class="shoulder-box">
            <li>Military Press</li>
            <img src ="../static/images/Overhead Barbell Press.gif" alt="Overhead Barbell Press" class="shoulder-img">
            <li>Behind-the-Neck Press</li>
            <img src ="../static/images/Behind-the-Neck Press.gif" alt="Behind-the-Neck Press" class="shoulder-img">
            <li>Barbell Upright Row</li>
            <img src ="../static/images/Barbell Upright Row.gif" alt="Barbell Upright Row" class="shoulder-img">    
        </div>
    </div>
    </section>

    <section>
        <div class="exercise-category">
        <h2>💪 Dumbbell Exercises</h2>
        <div class="shoulder-box">  
            <li>Dumbbell Shoulder Press</li>
            <img src ="../static/images/Dumbbell Shoulder Press.gif" alt="Dumbbell Shoulder Press" class="shoulder-img">    
            <li>Arnold Press</li>
            <img src ="../static/images/Arnold Press.gif" alt="Arnold Press" class="shoulder-img">  
            <li>Dumbbell Lateral Raise</li>
            <img src ="../static/images/Dumbbell Lateral Raise.gif" alt="Dumbbell Lateral Raise" class="shoulder-img">  
            <li>Dumbbell Front Raise</li>
            <img src ="../static/images/Dumbbell Front Raise.gif" alt="Dumbbell Front Raise" class="shoulder-img">  
        </div>
    </div>
        
    </section>

    <section>
        <div class="exercise-category">
        <h2>⚙️ Machine / Cable Exercises</h2>
        <div class="shoulder-box">
            <li>Machine Shoulder Press</li>
            <img src ="../static/images/Machine Shoulder Press.webp" alt="Machine Shoulder Press" class="shoulder-img">  
            <li>Cable Lateral Raise</li>
            <img src ="../static/images/Cable Lateral Raise.gif" alt="Cable Lateral Raise" class="shoulder-img">    
            <li>Reverse Pec Deck</li>
            <img src ="../static/images/Reverse Pec Deck.gif" alt="Reverse Pec Deck" class="shoulder-img">  

        </div>  
    </div>    
    </section>

    <footer>
        <p>© 2025 Gym Workout Guide | Shoulder Day Routine</p>
    </footer>
</body>
</html>
