{% extends "base.html" %}

{% block title %}Chest Exercises - Arambh Fitness{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/upperbody_style.css') }}">
{% endblock %}

{% block content %}
    <h1>Upper Body Calisthenics Exercises</h1>
     <div class="exercise-category">

    <h2>Chest & Triceps</h2>
    <div class="upper-body-box">
    
        <li>Push-Ups</li>
        <img src ="{{ url_for('static', filename='images/Push-Ups.gif') }}" alt="Push-Ups" class="upper-body-box-img">
        <li>Dips</li>
        <img src ="{{ url_for('static', filename='images/Dips.gif') }}" alt="Dips" class="upper-body-box-img">    
        <li>Diamond Push-Ups</li>   
        <img src ="{{ url_for('static', filename='images/Diamond Push-Ups.gif') }}" alt="Diamond Push-Ups" class="upper-body-box-img">
    </div>
    </div>
    <div class="exercise-category">

    <h2>Back & Biceps</h2>
    <div class="upper-body-box">
    
        <li>Pull-Ups</li>
        <img src ="{{ url_for('static', filename='images/Pull-Ups.gif') }}" alt="Pull-Ups" class="upper-body-box-img">
        <li>Chin-Ups</li>
        <img src ="{{ url_for('static', filename='images/Chin-Ups.gif') }}" class="upper-body-box-img">    
        <li>Australian Rows</li>
        <img src ="{{ url_for('static', filename='images/Australian Rows.webp') }}" alt="Australian Rows" class="upper-body-box-img">  
    </div>
    </div>
    <div class="exercise-category">
    

    <h2>Shoulders</h2>
    <div class="upper-body-box">

        <li>Handstand Push-Ups</li>
        <img src ="{{ url_for('static', filename='images/Handstand Push-Ups.gif') }}" alt="Handstand Push-Ups" class="upper-body-box-img">
        <li>Pike Push-Ups</li>
        <img src ="{{ url_for('static', filename='images/Pike Push-Ups.gif') }}" class="upper-body-box-img">  
        <li>Handstand Walks</li>
        <img src ="{{ url_for('static', filename='images/Wall Walks.gif') }}" class="upper-body-box-img">
    </div>
    </div>
{% endblock %}
