{% extends "base.html" %}

{% block title %}Workouts - Arambh Fitness{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="../static/css/workouts_style.css">
{% endblock %}

{% block content %}
<a href="/workouts/gym" style="text-decoration: none; color: inherit;"> 
    <div class="workout-box gym-box">
        <div class="text-content">
            <h1>GYM</h1>
        </div>
        <img src="../static/images/gym-icon.png" alt="Gym Icon" class="workout-img">
    </div>
</a>
<a href="/workouts/calisthenic" style="text-decoration: none; color: inherit;">  
<div class="workout-box calisthenics-box">
    <div class="text-content">
        <h1>CALISTHENICS</h1>
    </div>
    <img src="../static/images/calisthenic-icon.png" alt="Calisthenics Icon" class="workout-img">
</div>
</a>

<a href="/workouts/homeworkout" style="text-decoration: none; color: inherit;">  
<div class="workout-box home-workout-box">
    <div class="text-content">
        <h1>HOME WORKOUT</h1>
    </div>
    <img src="../static/images/home workout-icon.png" alt="Home Workout Icon" class="workout-img">
</div>
{% endblock %}
        </div>
        <img src="../static/images/home workout-icon.png" alt="Home Workout Icon" class="workout-img">
    </div>
    </a>

</body>
</html>
